.flyingWindow{
display: flex;
justify-content: center;
 position: absolute;
 width: 100%;
 transition: 0.4s;
 left: -10px;
 z-index: 1000;

 /* margin-top: 150px; */
 /* background-color: aqua; */
}

.flyingWindowContainer{
    height: 400px;
    width:400px;
    background-color:rgba(255,255, 255, 0.7) ;
    border-radius: 10px;
    backdrop-filter: blur(10px)
}

.flyingWindowContainer h2{

  
    margin-left: 20px;
    margin-top: 30px;
    font-size: 27px;
   }

.flyingWindowContainer p{

 width: 250px;
 margin-left: 20px;
 margin-top: -10px;
 font-weight: 200;
}

.flyingWindowContainer form {

display: flex;
flex-direction: column;

}

.flyingWindowContainer form input{
 
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
   font-size: 15px;
   border-radius: 5px;
   background-color:rgba(228, 228, 228, 0.1) ;


}

.flyingWindowContainer form label{
 
    height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 19px;

}

.flyingWindowContainer form button {

  background-color: rgb(21, 21, 21) ;
  color: white;
  font-size: 15px;
  height: 30px;
  margin-left: 150px;
  margin-right:150px;
    margin-top: 30px;
    border: 0px;
}


@media screen and (max-width:1600px){
.flyingWindow{
   left: 120px;
   top:  10px;
}
}



@media screen and (max-width:1280px){
.flyingWindow{
   left: 190px;
   top:  10px;
}
}


@media screen and (max-width:1024px){
.flyingWindow{
   left: 370px;
   top:  100px;
}
}

@media screen and (max-width:720px){
.flyingWindow{
   left: 450px;
   top:  300px;
}
}

@media screen and (max-width:480px){
.flyingWindow{
   left: 450px;
   top:  300px;
}

}