
nav{
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  padding: 0 190px;
  overflow: hidden;
}
.container-nav{
  width: 100%;
  max-width: 1920px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 10px;
   z-index: 10;
}

.burger{

 display: none;
}

.LogoName{

  display: flex;
  align-items: center;
  color: white;
  font-size: 1.1em;
 
}

.LogoName img{
 height:33px ;
 width: 33px;
  transform: rotate(50deg) ;
  display: inline-block;
}


.navMenu {
 
  display: flex;
  align-items: center;
  gap: 5px;
}

.navMenu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.navMenu ul li{
  position: relative;
  display: flex;
  width: 140px;
  gap: 3px;

  align-items: center;


  
 
}

.navMenu ul li img{
  display: block;
  margin-left: 28px; 
  width: 20px;
  height: 20px;
  object-fit: contain;
  background-color: transparent; 
  transform: rotate(50deg) ; 
  
  
}

.navMenu ul li a{
  display: block;
  color: white;
  text-decoration: none;
  margin-right: 28px;
}
.navMenu button{
  display: flex;               
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 4px;           
  height: 30px;                
  padding: 10px 30px; 
  color: white; 
  font-size: 1em;            
  border: 0;
  border-radius: 4px;
  background-color: rgb(238, 59, 28);
  flex: 0 0 40px;             
  cursor: pointer;
 
}

@media screen and (max-width:1700px){
    nav{
width: 1790px;
    }
}

@media screen and (max-width:1600px){
    nav{
width: 1780px;
    }
}
@media screen and (max-width:1280px){
    nav{
width: 1605px;

}
}



@media screen and (max-width:1024px) {
  nav{
    width: 1480px;
  height: 64px;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  padding: 0 190px;
}
.navMenu ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px

}
.navMenu ul li{
  position: relative;
  display: flex;
  width: 140px;
  gap: 3px;
  font-size: 20px;

  align-items: center;


  
 
}
.navMenu button{
        
  height: 40px;                
  padding: 10px 30px; 

  font-size: 1.4em;            

 
}

}

@media screen and (max-width:720px) {
  nav{
 
 width: 1670px;
  height: 8vh;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  padding: 0 74px;
  height: 200px;
}

.LogoName h2{

  display: none;

 
}
.LogoName img{
 height:120px ;
 width: 120px;
 transform: rotate(0deg) ;

}
.container-nav{
  width: 100%;
  max-width: 1920px;
  height: 164px;
  display: flex;
  justify-content: space-between;
  z-index: 10;

}

.navMenu ul {
  position: relative;
  display: flex;
 justify-content: center;
  align-items: center;
  height: 100%;
margin-right: 258px;
  gap: 160px;

}

.navMenu ul li{
  position: relative;
  display: flex;
  width: 140px;
  gap: 10px;
 
  align-items: center;
 font-size: 40px;
  
 
}
.navMenu ul li img{
  display: block;
  margin-left: 28px; 
  width: 40px;
  height: 40px;
  object-fit: contain;
  background-color: transparent; 
  transform: rotate(50deg) ; 
  
  
}
.navMenu button{
  display: flex;               
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 4px;   
  margin-left: 77px;        
  height: 30px;                
 padding: 37px 48px;
    color: white;
  font-size: 2em;            
  border: 0;
  border-radius: 4px;
  background-color: rgb(238, 59, 28);
  flex: 0 0 40px;             
  cursor: pointer;
 
}
}

@media screen and (max-width:480px) {
  nav{
 
width: 1520px;
  height: 8vh;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  padding: 0 74px;
  height: 200px;
}

.LogoName img{
 height:120px ;
 width: 120px;
 transform: rotate(90deg) ;

}
.navMenu ul {
  position: relative;
  display: flex;
 justify-content: center;
  align-items: center;
  height: 100%;
margin-right: 390px;
  gap: 160px;

}
.navMenu ul li{
  position: relative;
  display: flex;
  width: 140px;
  gap: 10px;
 
  align-items: center;
 font-size: 40px;
  
 
}
.navMenu{
        margin-left: -47px;

}
.navMenu button{
  
margin-top: 17px;        
  height: 30px;                
    padding: 35px 30px;
  color: white; 
        font-size: 1.8em;          
  border: 0;
  border-radius: 4px;
  background-color: rgb(238, 59, 28);
  flex: 0 0 40px;             
  cursor: pointer;
 margin-left: -135px;
}

}