



nav{
  position: fixed;
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: rgb(21, 21, 21);
  flex-wrap: wrap;
  cursor: default;
  z-index: 7;
}

.LogoName{
position: absolute;
display: flex;
margin: 20px;
margin-left: 200px;
margin-top: 25px;
width: 200px;
height: 40px;


img{
  margin-top: 0px;
  rotate: 50deg;
}


h2{
  margin-top: 0px;
  color: white;
}



}


.navMenu{
display: flex;
margin-left: 1000px;



li{

cursor: pointer;

display: inline;
margin: 20px;
position: relative;
top: -5px;

img{
  rotate: 50deg;
  scale: 0.4;

}
.reference{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
   top: -27px;
   left: -15px;
}

.list{
  rotate: 0deg;


}
}

button{

 height: 40px;
 width: 110px;
 text-align: center;
 border-radius: 5px;
 font-size: 16px;
 border: 0px;
 margin-top: 22px;
 background-color: rgb(238, 59, 28);
 color:white;
}
}

.dropDownMenu{
  display: block;
   position: absolute;
   width: 150px;
   height: 300px;
   left: 40px;
  //  top:-598px;
   background-color: rgb(21, 21, 21);
   z-index: 5;


   li {
    //  background-color: red;
     height: 50px;
     width: 190px;
     top: 20px;
     font-size: 18px;
     text-align: left;
     display: block;
     padding-top: 2px;
     margin-left: -40px;
     border-bottom: 1px solid white;
   }

   a{
     position: relative;
     text-decoration: none;
     margin-left: 10px;
     top: 3px;
     color: white;
    
      }
 }


 
 .nutrition{

  position: relative;
 
 }
 .nutritionDropDownMenu{

  display: block;
  position: absolute;
  width: 150px;
  height: 300px;
  margin-left: 0px;
  left: 0px;
  // top:-598px;
  background-color: rgb(21, 21, 21);
  z-index: 5;
 

li{

  height: 50px;
  width: 190px;
  top: 20px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding-top: 2px;
  margin-left: -40px;
  border-bottom: 1px solid white;
 
 a{


  position: relative;
  text-decoration: none;
  margin-left: 10px;
  top: 3px;
  color: white;

 }
}
 }
 

