#schedule{
display: flex;
justify-content: center;
align-items: center;
 height: 650px;
 background-color: rgb(246, 246, 246);
 
}

#schedule_container{


 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

#schedule_container h2{
  margin-top: 70px; 
  font-size: 40px;
  font-weight: 500;
  text-align: center;
 
}


.training_schedul_sections {
  background-color: rgb(34, 34, 34);
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  font-size: 19px;
 
 
 
 
 }

.training_schedul_sections ul{

 display: flex;
 gap: 300px;
 justify-content: space-between;
 margin-right: 400px;




}
.training_schedul_sections ul li {

    display: inline-block;
    color:white;
    margin: 20px;



}

.schedul_item{
 display: grid;
 grid-template-areas: "time class trainer";
 grid-template-columns: 390px 440px 1fr;
 border-bottom-left-radius: 10px; 
 border-bottom-right-radius: 10px;
 background-color: aqua;
 margin-top: -16px;
 background-color: white;
 cursor: default;

}

.schedul_item ul li{
 
  text-decoration: none;
  list-style: none;
  margin-top: 30px;
  font-size: 18px;
}

.schedul_item ul{

 margin-top: -5px;


}

.schedul_item_time{

  grid-area: time;
  color: tomato;
  font-weight: 600;
  margin-left: 20px;

}

.schedul_item_class{

  grid-area: class;


}

.schedul_item_trainer{


 grid-area: trainer;
 
 
}



@media (max-width:1800px){



  #schedule{
  
    width: 1790px;
  
  }
  
  .schedul_item{
    grid-template-columns: 410px 465px 1fr;
  
  }
  
  .training_schedul_sections ul{
  gap: 150px;
  }
   

}


@media (max-width:1600px){

     #schedule{
        width: 1780px;
        height: 600px;
    }
}



@media(max-width:1280px){

  #schedule{
  
    width: 1605px;
  
  }
  #schedule_container{

    margin-left: 100px;
  }
  
  .schedul_item{
    grid-template-columns: 245px 292px 1fr;
  
  }
  
  .training_schedul_sections ul{
  gap: 150px;
  }
  
  }





@media(max-width:1024px){

  #schedule{
  
       width: 1480px
  
  }
  #schedule_container{

    margin-left: 100px;
  }
  
  .schedul_item{
    grid-template-columns: 245px 292px 1fr;
  
  }
  
  .training_schedul_sections ul{
  gap: 150px;
  }
  
  }



@media(max-width:720px){

  #schedule{
  
    width: 1680px;

  
  }
        #schedule_container{


 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-left: 100px;
 
}
  
  .schedul_item{
    grid-template-columns: 245px 292px 1fr;
  
  }
  
  .training_schedul_sections ul{
  gap: 150px;
  }
  
  }





    @media(max-width:480px){

      #schedule{
      
 width: 1520px;
      
      }

      
      .schedul_item{
        grid-template-columns: 245px 292px 1fr;
      
      }
      .training_schedul_sections ul{
      gap: 150px;
      }
      
      }
      